<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
<!--    多个变量计算一个变量需要用到computed-->
    <p>十位：<input type="number" v-model="shi" max="9" min="0"></p>
    <p>个位：<input type="number" v-model="ge" max="9" min="0"></p>
    <p >结果：{{num}}</p>
</div>
<script src="js/vue.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            ge:"",
            shi:"",
        },
        methods: {
        },
        computed:{
            num(){
                return this.shi*10 + +this.ge
            }
        }

    })
</script>

</body>
</html>